<div class="status"><%= flash[:attendance_detail] %></div>
<table>
<% @event.attendance_details.each do |detail| %>
  <tr>
    <td><%= "#{detail.member.first_name} #{detail.member.surname}" %></td>
    <td><%= detail.status.capitalize %></td>
    <td><a href="<%= edit_branch_event_attendance_detail_path(@branch, @event, detail) %>">Edit Attendance Detail</a></td>
  </tr>
<% end %>
</table>
