<html>
  <head>
  </head>
  <body>
    <form method="post" action="<%= branch_path(@branch) %>">
      <input type='hidden' value='put' name='_method'/>
      <%= render "form" %>
    </form>
  </body>
</html>
