<html>
  <head>
  </head>
  <body>
    <div><%= flash[:branch] %></div>
    <p/>
  <% @branches.each do |branch| %>
    <%= branch.name %>&nbsp;&nbsp;<a href="<%= edit_branch_path(branch) %>">Edit</a><br/>
  <% end %>
  <p/>
  <a href="<%= new_branch_path %>">New Branch</a>
  </body>
</html>
