<html>
  <head>
  </head>
  <body>
    <form method="post" action="<%= branches_path %>" >
      Name: <input type="text" name="name"/>
      <p/>
      <input type="submit"/>
    </form>
  </body>
</html>
