<html>
  <head>
  </head>
  <body>
    <form method="post" action="<%= branches_path %>" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      Name: <input type="text" name="name"/>
      <p/>
      <input type="submit"/>
    </form>
  </body>
</html>
