<h1>Edit Participant</h1>
    <form method="post" action="<%= branch_participant_path(@branch, @participant) %>">
      <input type="hidden" name="_method" value="put"/>
      <%= render "form" %>
    </form>
    <p/>
    <a href="<%= branch_participants_path(@branch) %>">Return To Participant List</a>
