<html>
  <head>
  </head>
  <body>
    <% @participants.each do |participant| %>
      <%= participant.name %>&nbsp;&nbsp;<%= participant.card_number %>&nbsp;&nbsp;<%= (@participation_types.inject({}) { |hash,element| hash.merge! element })[participant.participation] %>&nbsp;&nbsp;<a href="<%= edit_branch_participant_path(@branch, participant) %>">Edit Participant</a><br/>
    <% end %>
  </body>
</html>
