<html>
  <head>
  </head>
  <body>
    <form method="post" action="<%= new_branch_participant_path(@branch) %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <input type="text" name="participant[name]" /><p/>
      <input type="text" name="participant[card_number]"/><p/>
      <%= select(:participant, :participation, @participation_types.map { |type_set| type_set.to_a[0].reverse }) %><p/>
      <input type="submit" value="Save"/>
    </form>
  </body>
</html>
