<h1>Create Event</h1>
    <form method="post" action="<%= branch_events_path(@branch) %>">
      <%= render "form" %>
    </form>
    <p/>
    <a href="<%= branch_events_path(@branch) %>">Return to Events</a>
