<h1>Edit Member</h1>
    <form method="post" action="<%= branch_member_path(@branch, @member) %>">
      <input type="hidden" name="_method" value="put"/>
      <%= render "form" %>
    </form>
    <p/>
    <a href="<%= branch_members_path(@branch) %>">Return To Member List</a>
